# dependencies
node_modules/

# environment variables
.env

# logs
logs/
*.log

# database dumps
*.local
*.mongodb

# IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store

# production builds (if you ever compile)
dist/
